.Card {
  width: 250px;
  height: 280px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 5%;
  padding: 7%;
  border-radius: 1.5rem;
  /* cursor: pointer; */
  background-color: #d4d0e9;
}
.Card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}
