.App {
  font-family: sans-serif;
  text-align: center;
  background: #e2e0ee;

  /* max-width: 400px; */
}

/* @media only screen and (min-width: 768px) {
  .App {
    width: 750px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .App {
    width: 970px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .App {
    width: 1338px;
    margin: 0 auto;
  }
}*/

@media (max-width: 400px) and (max-height: 876px) {
  .App {
    width: 1368px;
    margin: 0 auto;
  }
  .body {
    width: 100%;
  }
}
