/* grid container */
.leftsidebargrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "maincontent"
    "leftsidebar"
    "footer";
  margin-top: 3rem;
  width: 90%;
  /* max-width: 60rem; */
  position: relative;
}

/* general column padding */
.leftsidebargrid > * {
  padding: 1rem;
}

/* assign columns to grid areas */
.leftsidebargrid > .header {
  grid-area: header;

  display: inline;
}
.leftsidebargrid > .maincontent {
  grid-area: maincontent;
  /* background: #fff; */
  padding-left: 5%;
}
.leftsidebargrid > .leftsidebar {
  grid-area: leftsidebar;
  /* background: #f5d55f; */
}
/* .leftsidebargrid > .right-sidebar {
    grid-area: right-sidebar;
    background: #c5ed77;
  } */
.leftsidebargrid > .footer {
  grid-area: footer;
  background: #72c2f1;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .leftsidebargrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "leftsidebar maincontent maincontent"
      "footer footer footer";
  }
}

.header > .headerTwoColsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headerTwoColsGrid > * {
  padding: 1rem;
}
.headerTwoColsGrid > .headerrowLeft {
  width: 30%;
  /* background: #f97171; */
}
/* 
.leftsidebar > .leftsidebarImg {
  width: 400px;
  height: 400px;
}

.leftsidebar > .leftsidebarImg:hover {
} */

.progress {
  width: 400px;
  height: 200px;
}

.mainh2 {
  text-align: left;
}

.mainp1 {
  text-align: left;
}

.mainContainer {
  display: inline;
  max-height: 670px;
  /* max-width: 803px; */
  max-width: 960px;
  text-align: left;
}
* {
  box-sizing: border-box;
}
.mainContainerrow {
  display: flex;
  max-height: 670px;
  max-width: 803px;
  text-align: left;
  /* padding: 5%; */
}

.mainContainerrowCol {
  display: inline;
  /* margin: 2%; */
  /* background-color: #bfafd0; */
  /* height: 50%;
    width: 50%; */
  text-align: left;
  width: 100%;
  height: 200px;
  /* padding: 5%; */
}
.mainContainerrowCol2 {
  display: inline;
  /* margin: 2%; */
  /* background-color: #bfafd0; */
  /* height: 50%;
    width: 50%; */
  text-align: left;
  width: 100%;
  height: 200px;
  margin-top: 15%;
}

/* .item {
    width: 100%;
    height: 200px;
  } */
